<div class="inner">
  @if (item) {
    <div class="tag">{{ item.tag }}</div>
    <!-- <div class="id">{{ item.id }}</div> -->

    @if (item.CanBeSetContent || item.isImageTag) {
      <text-binding
        [item]="item"
        [parentCollection]="parentCollection"
        [collectionDsList]="collectionDsList"
        (change)="onChangeProperties()"></text-binding>
    }

    @if (item.customComponent && settingComponent) {
      <ng-container
        [ngComponentOutlet]="settingComponent"
        [ngComponentOutletInjector]="item.customComponent.compInjector"></ng-container>
    } @else {
      <!-- <p>No settings available.</p> -->
    }

    @if (item.isLink) {
      <edit-link [item]="item"></edit-link>
    }
    @if (enableExportAsPlugin) {
      <div>
        <button type="button" class="btn export-as-plugin" (click)="exportBlockAsPlugin()">Export as plugin</button>
      </div>
    }
  }
</div>
