<div class="inner">
  @if (item) {
    <p>{{ item.tag }}</p>
    <p>{{ item.id }}</p>
    can be set content: {{ item.CanBeSetContent }}
    @if (item.CanBeSetContent || item.isImageTag) {
      <text-binding
        [item]="item"
        [parentCollection]="parentCollection"
        [collectionDsList]="collectionDsList"
        (change)="onChangeProperties()"
      ></text-binding>
    }

    @if (item.customComponent && settingComponent) {
      <ng-container
        [ngComponentOutlet]="settingComponent"
        [ngComponentOutletInjector]="item.customComponent.compInjector"
      ></ng-container>
    } @else {
      <p>No settings available.</p>
    }

    @if (enableExportAsPlugin) {
      <button type="button" class="btn" (click)="exportBlockAsPlugin()">Export as plugin</button>
    }
  }
</div>
