@if (item) {
  <div class="class-chips">
    @for (item of classes; track $index; let i = $index) {
      <span
        class="chips"
        (click)="onSelectClass(item.name)"
        [class.active]="item.name == activeClass"
        #chips
        (dblclick)="editClassName(item, chips)">
        @if (item.editMode) {
          <input
            type="text"
            [(ngModel)]="item.newName"
            maxlength="50"
            (blur)="onBlurEditClassName(item)"
            (keydown.enter)="onBlurEditClassName(item)"
            (keydown.esc)="cancelEditClassName(item, $event)" />
        } @else {
          <button type="button" (click)="remove(i)" class="chips-remove">
            <svg Icon="assets/icons/xmark.svg"></svg>
          </button>
          {{ item.name }}
        }
      </span>
    }

    @if (showAddClassBtn) {
      <span class="chips plus" (click)="showAddClassBtn = false">
        <svg Icon="assets/icons/plus.svg"></svg>
      </span>
    } @else {
      <div class="pb-input-group auto-complete">
        <!-- <select name="classlist" (change)="onAddClass($event)">
          @for (item of availableClasses; track $index) {
            <option [value]="item">{{ item }}</option>
          }
        </select> -->
        <!-- Input field for package name -->
        <input
          #searchClass="ngModel"
          type="text"
          id="searchClass"
          class="form-control"
          name="searchClass"
          [(ngModel)]="searchClassModel"
          (input)="onInputChange()"
          (click)="showSuggestions = true"
          autocomplete="off"
          (keydown.enter)="onAddClass(searchClassModel)" />
        <!-- Detect input changes for suggestions -->

        <!-- Suggestions dropdown (shown when user starts typing) -->
        @if (showSuggestions) {
          <div class="dropdown-backdrop" (click)="showSuggestions = false"></div>
          <div class="dropdown-menu show">
            @if (searchClassModel.trim()) {
              <div class="dropdown-item insert-as-new" (click)="onAddClass(searchClassModel)">
                {{ 'Insert new: ' + searchClassModel }}
              </div>
            }
            @for (suggestion of filteredSuggestions; track $index) {
              <div class="dropdown-item" (click)="onAddClass(suggestion)">
                {{ suggestion }}
              </div>
            }
            @if (filteredSuggestions.length == 0) {
              <div class="dropdown-item disabled">Not found!</div>
            }
          </div>
        }
      </div>
    }
  </div>
}
