<div class="page-builder-tabs">
  <button
    type="button"
    class="tab-item"
    [class.active]="selectedTab == 'properties'"
    (click)="selectedTab = 'properties'"
    title="Properties">
    <svg Icon="assets/icons/color-pallete.svg"></svg>
    Properties
  </button>
  <button
    type="button"
    class="tab-item"
    [class.active]="selectedTab == 'settings'"
    (click)="selectedTab = 'settings'"
    title="Settings">
    <svg Icon="assets/icons/settings.svg"></svg>
    Settings
  </button>
</div>
<div class="page-builder-tab-content">
  @if (selectedTab === 'properties') {
    <block-properties></block-properties>
  } @else if (selectedTab === 'settings') {
    <block-settings></block-settings>
  }
</div>
