<table class="properties-table">
  <tbody>
    <tr>
      <th colspan="2" align="start">Typography:</th>
    </tr>
    <tr>
      <td>
        <label for="font-family">Font Family:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="font-family" [(ngModel)]="style.fontFamily" (ngModelChange)="update()">
            <option value="inherit">Inherit</option>
            <option value="Arial">Arial</option>
            <option value="Courier New">Courier New</option>
            <option value="Georgia">Georgia</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Verdana">Verdana</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('fontFamily')">x</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="font-size">Font Size:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <input id="font-size" type="number" [(ngModel)]="fontSize" (ngModelChange)="update()" />
          <button class="pb-btn" type="button" (click)="clear('fontSize')">x</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="font-weigth">Font Weigth:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="font-weigth" [(ngModel)]="style.fontWeight" (ngModelChange)="update()">
            <option value="inherit">Inherit</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="bold">bold</option>
            <option value="bolder">bolder</option>
            <option value="lighter">lighter</option>
            <option value="normal">normal</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('fontWeigth')">x</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="font-style">Font Style:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="font-style" [(ngModel)]="style.fontStyle" (ngModelChange)="update()">
            <option value="inherit">Inherit</option>
            <option value="normal">normal</option>
            <option value="italic">italic</option>
            <option value="oblique">oblique</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('fontStyle')">x</button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="line-height">Line Height:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <input id="line-height" type="number" [(ngModel)]="lineHeight" (ngModelChange)="update()" />
          <button class="pb-btn" type="button" (click)="clear('lineHeight')">x</button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="text-decoration">Text Decoration:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="text-decoration" [(ngModel)]="style.textDecoration" (ngModelChange)="update()">
            <option value="none">None</option>
            <option value="underline">Underline</option>
            <option value="line-through">Line Through</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('textDecoration')">x</button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="text-transform">Text Transform:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="text-transform" [(ngModel)]="style.textTransform" (ngModelChange)="update()">
            <option value="none">None</option>
            <option value="uppercase">Uppercase</option>
            <option value="lowercase">Lowercase</option>
            <option value="capitalize">Capitalize</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('textTransform')">x</button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="text-alignment">Text Alignment:</label>
      </td>
      <td>
        <div class="pb-input-group">
          <select id="text-alignment" [(ngModel)]="style.textAlign" (ngModelChange)="update()">
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
            <option value="justify">Justify</option>
          </select>
          <button class="pb-btn" type="button" (click)="clear('textAlign')">x</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
