<div class="k-tab-group" [class.dont-show-single]="dontShowSingleTab && tabs?.length === 1">
  <button type="button" id="toggleTabItems" (click)="openTabItemMenu = !openTabItemMenu">☰</button>
  <div class="tab-item-container-back-drop" [class.open]="openTabItemMenu" (click)="openTabItemMenu = false"></div>
  <div class="tab-item-container" [class.open]="openTabItemMenu" create-form-builder-tour-step="1">
    @for (tab of tabs; track $index; let tabIndex = $index) {
      <div class="tab-item" [class.active]="tab.active" (click)="selectTab(tab, tabIndex)">
        {{ tab.title }}
      </div>
    }
  </div>

  <div class="active-line"></div>
  <div class="fixed-actions">
    @if (showPlusButton) {
      <div class="tab-group__item plus" (click)="onClickPlus()">+</div>
    }
  </div>
</div>

<ng-content></ng-content>
