.k-tab-group {
  position: relative;
  padding: 10px 10px 0 10px;
  display: flex;
  height: 36px;
  --tab-item-bg: var(--panel-bg, white);
  --active-tab-item-color: #1180f3;
  --active-tab-item-hover: #1180f329;
  z-index: 104;
}
.k-tab-group .tab-item-container {
  display: flex;
  gap: 2px;
}
.k-tab-group .active-line {
  border-bottom: 2px var(--active-tab-item-color) solid;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
}
.k-tab-group .tab-item {
  border: 2px #93939387 solid;
  border-bottom: 2px var(--active-tab-item-color) solid;
  padding: 6px 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
  background-color: var(--tab-item-bg);
  user-select: none;
  transition: all 0.2s;
  // height: 100%;
  opacity: 0.7;
}
.k-tab-group .tab-item:not(:disabled) {
  cursor: pointer;
}
.k-tab-group .tab-item:not(.active):hover {
  background-color: var(--active-tab-item-hover);
}
.k-tab-group .tab-item.active {
  border-color: var(--active-tab-item-color);
  border-bottom: none;
  color: var(--bd-body-fg);
  z-index: 1;
  opacity: 1;
}
.k-tab-group .fixed-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 5px;
  bottom: 0;
}

body[dir='ltr'] .k-tab-group .fixed-actions {
  left: auto;
  right: 5px;
}
#toggleTabItems {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  i {
    font-size: 24px !important;
  }
}
.tab-item-container-back-drop {
  background: #00000036;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.tab-item-container-back-drop.open {
  display: block;
}

@media (max-width: 992px) {
  #toggleTabItems {
    display: block;
  }
  .k-tab-group .tab-item-container {
    position: absolute;
    background-color: var(--tab-item-bg);
    flex-direction: column;
    top: 40px;
    border: 1px #93939387 solid;
    border-radius: 4px;
    overflow: hidden;
    display: none;
  }
  .k-tab-group .tab-item-container.open {
    display: flex;
  }
  .k-tab-group .tab-item {
    border: none;
    border-bottom: 1px #93939387 solid;
    color: var(--bd-body-fg);
    border-radius: 0;
    max-width: 100%;
    min-width: 240px;
  }
  .k-tab-group .tab-item.active {
    background: var(--active-tab-item-color);
    color: #fff;
  }
}
