@if (sizes) {
  <table class="properties-table">
    <tbody>
      @for (property of widthProperties; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="
              sizeControl;
              context: {
                sizeValue: sizes[property],
                property: property,
                label: getLabel(property),
              }
            "
          ></ng-container>
        </ng-container>
      }
    </tbody>
  </table>

  <table class="properties-table">
    <tbody>
      @for (property of heightProperties; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="
              sizeControl;
              context: {
                sizeValue: sizes[property],
                property: property,
                label: getLabel(property),
              }
            "
          ></ng-container>
        </ng-container>
      }
    </tbody>
  </table>
}

<ng-template #sizeControl let-sizeValue="sizeValue" let-property="property" let-label="label">
  <tr>
    <td>
      <label for="{{ property }}">{{ label }}:</label>
    </td>
    <td>
      <div class="pi-group">
        <input
          [id]="property"
          [attr.name]="property"
          [type]="sizeValue.unit != 'auto' ? 'number' : 'text'"
          [(ngModel)]="sizeValue.value"
          (ngModelChange)="update()"
          [min]="0"
          [disabled]="sizeValue.unit == 'auto'"
          [readonly]="sizeValue.unit == 'auto'"
        />
        <select
          [(ngModel)]="sizeValue.unit"
          (ngModelChange)="onChangeUnit(property)"
          [attr.name]="'unit-' + property"
          class="unit"
        >
          <option value="auto">{{ isMaxProperty(property) ? 'None' : 'Auto' }}</option>
          <option value="px">px</option>
          <option value="%">%</option>
          <option value="em">em</option>
          <option value="rem">rem</option>
          <option value="vh">vh</option>
          <option value="vw">vw</option>
        </select>
        <button class="btn-clear" type="button" (click)="clear(sizeValue)">x</button>
      </div>
    </td>
  </tr>
</ng-template>
