<p>Collection settings</p>

<switch [(ngModel)]="settings.useDynamicData" name="useDynamicData" (change)="update()">
  Binding to dynamic data
</switch>

@if (settings.useDynamicData) {
  <div class="data-field">
    <label for="datasource">Data Source</label>
    <select [(ngModel)]="settings.id" id="datasource" name="datasource" (change)="update()">
      @for (item of collectionDataSource; track item.id) {
        <option [value]="item.id">{{ item.displayName }}</option>
      }
    </select>
  </div>
  <div class="data-field">
    <label for="skipcount">Skip count</label>
    <input
      type="number"
      [(ngModel)]="settings.skipCount"
      id="skipcount"
      name="skipCount"
      (change)="update()"
    />
  </div>
  <div class="data-field">
    <label for="maxResultCount">Max result count</label>
    <input
      type="number"
      [(ngModel)]="settings.maxResultCount"
      id="maxResultCount"
      name="maxResultCount"
      (change)="update()"
    />
  </div>
}
