<div class="inner">
  <div class="title">Header</div>
  <ng-container
    *ngTemplateOutlet="treeLayout; context: { $implicit: currentPageHeaderItems, isOpen: true }"
  ></ng-container>

  <div class="title">Body</div>
  <ng-container
    *ngTemplateOutlet="treeLayout; context: { $implicit: currentPageBodyItems, isOpen: true }"
  ></ng-container>

  <div class="title">Footer</div>
  <ng-container
    *ngTemplateOutlet="treeLayout; context: { $implicit: currentPageFooterItems, isOpen: true }"
  ></ng-container>
</div>

<ng-template #treeLayout let-list let-isOpen="isOpen">
  <ul class="tree-list" [class.is-open]="isOpen">
    @for (item of list; track $index) {
      <li (click)="onSelectBlock($event, item)" [class.active]="pageBuilder.activeEl() == item">
        <div>
          @if (item.children && item.children.length > 0) {
            <button type="button" (click)="item.isOpen = !item.isOpen">
              @if (item.isOpen) {
                <svg Icon="assets/icons/chevron-down.svg"></svg>
              } @else {
                <svg Icon="assets/icons/chevron-right.svg"></svg>
              }
            </button>
          }
          <span>{{ item.tag || item.el?.tagName }}</span>
        </div>
        @if (item.children && item.children.length > 0) {
          <ng-container
            *ngTemplateOutlet="
              treeLayout;
              context: { $implicit: item.children, isOpen: item.isOpen }
            "
          ></ng-container>
        }
      </li>
    }
  </ul>
</ng-template>
