<div class="inner">
  @if (item) {
    <p>{{ item.tag }}</p>

    <class-selector (selectedCss)="onSelectClass($event)"></class-selector>

    <details name="block-properties" (toggle)="openPanel(display)" #display>
      <summary>Display</summary>
      @if (display.open) {
        <display-control
          [(ngModel)]="style"
          [currentClassName]="currentClassName"
        ></display-control>
      }
    </details>

    <details name="block-properties" (toggle)="openPanel(size)" #size>
      <summary>Size</summary>
      @if (size.open) {
        <size-control [(ngModel)]="style" [currentClassName]="currentClassName"></size-control>
      }
    </details>

    <details name="block-properties" (toggle)="openPanel(spacing)" #spacing>
      <summary>Spacing</summary>
      @if (spacing.open) {
        <spacing-control
          [(ngModel)]="style"
          [currentClassName]="currentClassName"
        ></spacing-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(typography)" #typography>
      <summary>Typography</summary>
      @if (typography.open) {
        <typography-control
          [(ngModel)]="style"
          [currentClassName]="currentClassName"
        ></typography-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(background)" #background>
      <summary>Background</summary>
      @if (background.open) {
        <background-control
          [(ngModel)]="style"
          [currentClassName]="currentClassName"
        ></background-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(shadow)" #shadow>
      <summary>Shadow</summary>
      @if (shadow.open) {
        <shadow-control [(ngModel)]="style" [currentClassName]="currentClassName"></shadow-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(advanced)" #advanced>
      <summary>Advanced</summary>
      @if (advanced.open) {
        <textcss-control
          [(ngModel)]="style"
          [currentClassName]="currentClassName"
        ></textcss-control>
      }
    </details>
  } @else {
    <p>None selected block.</p>
  }
</div>
